body{ /*ну тут понятно*/
	width: 400px; 
	height: 300px; 
	padding: 10px; 
	font-family: Arial, sans-serif;
	margin: 0; 
	background-color: black;
}

.textarea{ /*поле ссылками*/
	width: 93%; 
	height: 100px; 
	padding: 6px; 
	font-size: 12px; 
	resize: none; 
	margin-bottom: 8px;
}

.begin-title{ /*начальный текст*/
	color: white;
	margin-top: 0; 
	font-size: 17px;
}

.github-button{ /*кнопка "Ссылка на Github"*/
	background-color: black;
	color: white;
}


.open-all-btn{ /*кнопка "ОТКРЫТЬ ВСЕ ССЫЛКИ СРАЗУ"*/
	background-color: black;
	color: white;
	border: none;
	width: 100%; padding: 8px; 
	margin-top: 4px; 
	cursor: pointer; 
	font-weight: bold; 
	border-radius: 4px;
}

.link-list{ /*поле с ссылками*/
	margin-top: 10px; 
	max-height: 120px; 
	overflow-y: auto; 
	padding-left: 0; 
	list-style: none; 
}

.link-item{
	display: flex; 
	justify-content: space-between; 
	align-items: center; 
	padding: 5px; 
	margin-bottom: 4px; 
	background: #fff; 
	border: 2px solid #ddd; 
	border-radius: 3px; 
	font-size: 11px;
}

.link-text{
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis; 
	max-width: 180px; 
	color: #2196F3; 
	cursor: pointer; 
	text-decoration: underline;
}

.file-actions { /*все что ниже*/
  margin: 10px 0;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  border: 1px dashed #ccc;
}

.export-buttons { /*Поле где лежит всё ниже*/
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.file-btn { /*кнопки "ЭКСПОРТ в ТХТ" и "ЭКСПОРТ в JSON"*/
  flex: 1;
  padding: 6px;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 12px;
  transition: background 0.2s;
}

.file-btn:hover { /*При наводке на кнопки "ЭКСПОРТ в ТХТ" и "ЭКСПОРТ в JSON" красиво меняет цвет кнопки*/
  background-color: gray;
}

.import-zone {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.import-label { /*Текст "Импорт из TXT / JSON:"*/
  font-size: 12px;
  font-weight: bold;
  color: black;
}

.import-input {
  font-size: 12px;
}